.banner{
	background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 20%),url(../../images/bannerimage.jpeg);
	padding: 305px 0px;
	background-size: cover;
	background-position: center;

}
#bannerbtn{
	margin:400px;
}
.banner h1,h2{
padding-left: 400px;
color: white;
}

}


.banner h1{
	font-size: 60px;
	font-weight: bold;
	color:white;
	line-height: 60px;
}
.banner h2{
	font-weight: lighter;
	font-size: 40px;
	opacity: 1;
	margin-bottom:70px;
	color:white;
	line-height: 40px;

}

